@keyframes pulse{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes shadow{
    0%{
        -webkit-box-shadow: 0px 0px 26px 9px rgba(154,23,10,1);
        -moz-box-shadow: 0px 0px 26px 9px rgba(154,23,10,1);
        box-shadow: 0px 0px 26px 9px rgba(154,23,10,1);
    }
    100%{
        -webkit-box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
        -moz-box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
        box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
    }
}
@keyframes menu-on{
    0%{
        left: -90%;
    }
    100%{
        left: 0;
    }
}
@keyframes menu-off{
    0%{
        left: 0;
    }
    100%{
        left: -90%;  
    }
}