@keyframes pulse{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes shadow{
    0%{
        -webkit-box-shadow: 9px 14px 13px -4px rgba(154,23,10,1);
        -moz-box-shadow: 9px 14px 13px -4px rgba(154,23,10,1);
        box-shadow: 9px 14px 13px -4px rgba(154,23,10,1);
    }
    100%{
        -webkit-box-shadow: 9px 14px 13px -4px rgba(86,60,41,1);
        -moz-box-shadow: 9px 14px 13px -4px rgba(86,60,41,1);
        box-shadow: 9px 14px 13px -4px rgba(86,60,41,1);
    }
}