@font-face {
    font-family: "helveticaneuecyr"; /* Имя шрифта */
    src: url("../fonts/helveticaneuecyr/helveticaneuecyr-bold.otf"); /* Путь к файлу со шрифтом */
    font-weight: 700;
   }
@font-face {
    font-family: "helveticaneuecyr"; /* Имя шрифта */
    src: url("../fonts/helveticaneuecyr-light.otf"); /* Путь к файлу со шрифтом */
    font-weight: 300;
}
@font-face {
    font-family: "helveticaneuecyr"; /* Имя шрифта */
    src: url("../fonts/helveticaneuecyr/helveticaneuecyr-medium.otf"); /* Путь к файлу со шрифтом */
    font-weight: 500;
}
@font-face {
    font-family: "helveticaneuecyr"; /* Имя шрифта */
    src: url("../fonts/helveticaneuecyr/helveticaneuecyr-ultralight.otf"); /* Путь к файлу со шрифтом */
    font-weight: 200;
}
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("../fonts/roboto/Roboto-black.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 900;
}
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("../fonts/roboto/Roboto-Bold.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 700;
}
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("../fonts/roboto/Roboto-Regular.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 400;
}
@font-face {
    font-family: "Roboto"; /* Имя шрифта */
    src: url("../fonts/roboto/Roboto-Thin.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 200;
}
@font-face {
    font-family: "MyriadProRegular"; /* Имя шрифта */
    src: url("../fonts/myriadpro/myriadproregular/MyriadProRegular.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 400;
}