body{
    font-size: 17px;
    line-height: 1.2;
    background-color: #14161a;
    margin: 0;
    font-family: $roboto;
    color: $white;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: $white;
}
.container{
    max-width:1200px;
    padding: 0 30px;
    margin: 0 auto;
    @media screen and (max-width:$tablet){
    
    }
}
.vis-hid{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}