$tablet: 768px;
$mobile: 420px;
$roboto: "Roboto", "Arial", sans-serif;
$helv: "helveticaneuecyr", "Arial", sans-serif;
$myriad: "MyriadProRegular", "Arial", sans-serif;
$red: #9a170a;
$white: #ffffff;
$blue: #073666;
