<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        block title
            title index
    body
        header.header
            .header__wrapper.container
                a.header__logo
                    span.header__logo-span
                        | STEROID HOUSE
                nav.header__navigation
                    ul.header__navigation-list
                        li.header__list-item
                            a(href="#").header__list-link
                                | О нас
                        li.header__list-item
                            a(href="#").header__list-link
                                | Spectrum pharm
                        li.header__list-item
                            a(href="#").header__list-link
                                | Zhengzhou Pharmaceutical
                        li.header__list-item
                            a(href="#").header__list-link
                                | Доставка
                a(href="tel:+380985700075").header__tel-href
                    | 097 765 43 21
                button.header__mobile-btn
