-
    var catalog_list_items_spectrum = [
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""}
    ]
-
    var catalog_list_items_zhengzhou = [
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""},
        {src:"imgs/spectrum_item.jpg",title:"bondemole",manufacturer:"Spectrum",substance:"Stanazolol",dosage:"100 мг",storage:""}
    ]