-
    var catalog_list_items_spectrum = [
        {src:"imgs/1_spectrum_boldenone_undecylenate.jpg",title:"Boldenone 250 mg",manufacturer:"Spectrum",substance:"Boldenone Undecylenate",dosage:"250 мг/мл",storage:""},
        {src:"imgs/2_spectrum_stomba_o.jpg",title:"Stromba O 50 mg",manufacturer:"Spectrum",substance:"Stanozolol",dosage:"50 мг/мл",storage:""},
        {src:"imgs/3_spectrum_testo_e.jpg",title:"Testo E 250 mg",manufacturer:"Spectrum",substance:"Testosterone Enanthate",dosage:"250 мг/мл",storage:""},
        {src:"imgs/4_spectrum_testo_mix_250.jpg",title:"Testo mix 250 mg",manufacturer:"Spectrum",substance:"Testosterone",dosage:"250 мг/мл",storage:""},
        {src:"imgs/5_spectrum_testo_p.jpg",title:"Testo P 100 mg",manufacturer:"Spectrum",substance:"Testosterone Propionate",dosage:"100 мг/мл",storage:""},
        {src:"imgs/6_spectrum_testo_c.jpg",title:"Testo C 250 mg",manufacturer:"Spectrum",substance:"Testosterone Cypionate",dosage:"250 мг/мл",storage:""},
        {src:"imgs/7_spectrum_tren_e.jpg",title:"Tren E 200 mg",manufacturer:"Spectrum",substance:"Trenbolone Enanthate",dosage:"200 мг/мл",storage:""}
    ]
-
    var catalog_list_items_zhengzhou = [
        {src:"imgs/1_zhengzhou_Boldenone_Undecylenate_250.jpg",title:"Boldenone Undecyl. 250 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Boldenone Undecylenate",dosage:"250 мг/мл",storage:""},
        {src:"imgs/2_zhengzhou_ mix_of_3_tenbolones.jpg",title:"Mix of trenbolones 250 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Trenbolone",dosage:"200 мг/мл",storage:""},
        {src:"imgs/3_zhengzhou_oxandrolone.jpg",title:"Oxandrolone tablets 10 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Oxandrolonr",dosage:"10 мг/таб",storage:""},
        {src:"imgs/4_zhengzhou_primobolan.jpg",title:"Methenolone Enanthate 100 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Methenolone Enanthate",dosage:"100 мг/мл",storage:""},
        {src:"imgs/5_zhengzhou-stanozolol_10.jpg",title:"Stanozolol tablets 10 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Stanazolol",dosage:"10 мг/тa,",storage:""},
        {src:"imgs/6_zhengzhou_stanozolol_50_mg.jpg",title:"Stanozolol Suspenzion 50 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Stanazolol",dosage:"50 мг",storage:""},
        {src:"imgs/7_zhengzhou_testosterone_mix_250.jpg",title:"Testosterone mix 250 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Testosterone",dosage:"250 мг/мл",storage:""},
        {src:"imgs/8_zhengzhou_testosterone_mix_250.jpg",title:"Testosterone mox 250",manufacturer:"Zhengzhou Pharmaceutical",substance:"Testosterone",dosage:"250 мг/мл",storage:""},
        {src:"imgs/9_zhengzhou_testosterone_propionate_100_mg.jpg",title:"Testosterone Propionate 100 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Testosterone Propionate",dosage:"100 мг/мл",storage:""},
        {src:"imgs/10_zhengzhou_testosterone_phenypPropionate.jpg",title:"Testosterone Phenilpropinate 100 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Stanazolol",dosage:"100 мг/мл",storage:""},
        {src:"imgs/11_zhengzhou_testosterone_cypionate.jpg",title:"Testosterone Cypionate 250 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Testosterone Cypionate",dosage:"250 мг/мл",storage:""},
        {src:"imgs/12_zhengzhou_testosterone_enanthate.jpg",title:"Testosterone Enanthate 250 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Testosterone Enanthate",dosage:"250 мг/мл",storage:""},
        {src:"imgs/13_zhengzhou_testosterone_acetate.jpg",title:"Trenbolone Acetate 100 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Stanazolol",dosage:"100 мг/мл",storage:""},
        {src:"imgs/14_zhengzhou_turinabol.jpg",title:"Turinabol tablets 10 mg",manufacturer:"Zhengzhou Pharmaceutical",substance:"Chlorodehydrometyltest",dosage:"10 мг/таб",storage:""},
    ]