.about-us{
    background-image: url("../imgs/about_us_bg.png");
    background-size:  50% auto;
    background-repeat: no-repeat;
    background-position:0 100px;
    @media screen and (max-width:$tablet){
        background-size: cover;
        background-position: 50%;
    }
    @media screen and (max-width:$mobile){
        background: url("../imgs/about_us_big-fire.png") no-repeat 100% 50%;
    }
}
.about-us__paralax-wrapper{
    background:url("../imgs/about_us_title-fire.png") no-repeat 60% 0;
    padding-top: 115px;
    padding-bottom: 100px;
    position: relative;
    &::after{
        content: "";
        width: 160px;
        height: 970px;
        background: url("../imgs/about_us_big-fire.png") no-repeat 50%;
        position: absolute;
        right: 0;
        bottom: -480px;
        @media screen and (max-width:$tablet){
            width: 80px;
            height: 485px;
            background-size: contain;
        }
    }
    @media screen and (max-width:$tablet){
        background-size: 0;
    }
    @media screen and (max-width:$mobile){
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.about-us__wrapper{
    display: flex;
    flex-direction: row-reverse;
    min-height: 580px;
    box-sizing: border-box;
    padding-top: 70px;
}
.about-us__content{
    width: 55%;
    margin-top: -70px;
    @media screen and (max-width:$tablet){
        width: 100%;
    }
}
.about-us__title{
    @media screen and (max-width:$tablet){
        text-align: center;
        &:after{
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.about-us__txt{
    font-family: $helv;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 50px;
    letter-spacing: 3px;
    @media screen and (max-width:$tablet){
        font-size: 24px;
        font-weight: 200;
    }
    @media screen and (max-width:$mobile){
        font-size: 18px;
        font-weight: 200;
    }
}
.about-us__download-link{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 27px;
    padding-left: 15px;
    padding-right: 55px;
    border: 1px solid transparent;
    position: relative;
    &:after{
        content: "";
        width: 30px;
        height: 30px;
        background-image: url("../imgs/icon-download.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    &:before{
        content: "";
        height: 3px;
        width: calc(100% - 30px);
        background-color: red;
        position: absolute;
        bottom: 17px;
        left: 15px;
        opacity: 0.7;
    }
    &:hover{
        border: 1px solid $white;
    }
    @media screen and (max-width:$tablet){
        width: 228px;
    }
}
.about-us__btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width:$tablet){
        align-items: center;
    }
}