.advantages{
    min-height: 950px;
    box-sizing: border-box;
    padding-top: 115px;
    padding-bottom: 100px;
    background:url("../imgs/advantages_bg.png") no-repeat 100% 100px;
    @media screen and (max-width:$tablet){
        padding-top: 30px;
        background: url("../imgs/advantages_bg.png") no-repeat 100% 100px;
    }
}
.advantages__paralax-wrapper{
    background:url("../imgs/advantages_big-fire.png") no-repeat 0 0,
               url("../imgs/advantages_smoke1.png") no-repeat 350px 0;
}
.advantages__wrapper{
    background:url("../imgs/advantages_smoke-big.png") no-repeat 350px 0;
    @media screen and (max-width:$tablet){     
        background:url("../imgs/advantages_smoke-big.png") no-repeat 350px 0,
                    url("../imgs/product-preview_bg1.png") no-repeat 100% 100%;
    }
}
.advantages__title{
    @include center-title;
}
.advantages__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include list-reset;
    margin-bottom: 50px;
    @media screen and (max-width:$tablet){
        flex-direction: column;
        align-items: center;
    }
}
.advantages__list-item{
    padding-top: 240px;
    width: 28%;
    text-align: center;
    &:nth-child(1){
        background: url("../imgs/icon-speed.png") no-repeat 50% 20px;
    }
    &:nth-child(2){
        background: url("../imgs/icon-commerce.png") no-repeat 50% 20px;
    }
    &:nth-child(3){
        background: url("../imgs/icon-award.png") no-repeat 50% 20px;
    }
    @media screen and (max-width:$tablet){
        width: 50%;
    }
}
.advantages__list-title{
    font-family: $roboto;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.advantages__txt{
    font-family: $helv;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    @media screen and (max-width:$tablet){
        font-size: 18px;
    }
}
.advantages__btn-wrapper{
    text-align: center;
}