.buy-btn{
    display: inline-block;
    padding: 25px 40px;
    background-color: $red;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 40px;
    &:hover,
    &:focus{
        background-color: $white;
        color: $red;
    }
    &:active{
        background-color: #444;
        color: $white;
    }
    @media screen and (max-width:$tablet){
        font-size: 15px;
        margin-right: 0;
        width: 198px;
        text-align: center;
        margin-bottom: 30px;
    }
}
.buy-btn--catalog{
    position: relative;
    z-index: 7;
    padding: 25px 50px;
    @media screen and (max-width:$tablet){
        width: 140px;
    }
}