.catalog-list{
    @include list-reset;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catalog-list__item{
    width: 264px;
    position: relative;
    min-height: 373px;
    background-image: url("../imgs/catalog-list__bg-item.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: auto;
    margin-bottom: 30px;

}
.catalog-list__item--shadow{
    -webkit-box-shadow: 9px 14px 13px -4px rgba(86,60,41,1);
    -moz-box-shadow: 9px 14px 13px -4px rgba(86,60,41,1);
    box-shadow: 9px 14px 13px -4px rgb(146, 109, 83);
    animation: shadow .5s ease-in;
}
.catalog-list__sub-list{
    @include list-reset;
    display: none;
    height: 242px;
    width: 264px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../imgs/catalog-list__bg-item.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 20px;
}
.catalog-list__item--active{
    display: block;
    animation: fadeIn .2s ease-in;
}
.catalog-list__img{
    width: 264px;
    height: 226px;
}
.catalog-list__item-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.catalog-list__user-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog-list__btn{
    margin:0;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.catalog-list__sub-list-item{
    margin-bottom: 10px;
}
.catalog-list__item-position{
    display: block;
}
.catalog-list__item-value{
    display: block;
    padding-bottom: 2px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $red;
    line-height: 1.2;
    text-align: right;
}