.delivery{
    min-height: 680px;
    background: url("../imgs/delivery_bg1.png") no-repeat 0 0;
    background-size: 90% 100%;
    background-color: #0f1116;
}
.delivery__paralax-wrapper{
    min-height: 680px;
    background: url("../imgs/delivery_bg2.png") no-repeat 85% 0;
    background-size: 60% 100%;
}