footer{
    background: url("../imgs/footer_fire.png") no-repeat 100% 100%;
}
.footer__wrapper{
    padding-top:100px;
}
.footer__social{
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width:$mobile){
        min-height: 200px;
    }
}
.footer__social-list{
    @include list-reset;
}
.footer__copyr{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}