.header{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.header--fixed{
    background-color: #14161a;
    -webkit-box-shadow: 0px 14px 17px -9px rgba(154,23,10,1);
    -moz-box-shadow: 0px 14px 17px -9px rgba(154,23,10,1);
    box-shadow: 0px 14px 17px -9px rgba(154,23,10,1);
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}
.header__logo{
    position: relative;
    width: 120px;
    height: 80px;
    &:after{
        content: "";
        width: 120px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../imgs/red_triangl.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        z-index: 0;
    }
}
.header__logo-span{
    position: relative;
    z-index: 1;
    display:block;
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top: 10px;
}
.header__navigation-list{
    @include list-reset;
    display: flex;
    align-items: center;
}
.header__list-item{
    padding: 0 15px;
    border-bottom:1px solid transparent;
    &:hover{
        border-bottom:1px solid $red;
    }
}
.header__list-link{
    font-size: 18px;
    line-height: 34px;
    font-family: $roboto;
    font-weight: 400;
    &:hover,
    &:focus{
        color: $red;
    }
    &:active{
        color: $red;
        opacity: 0.6;
    }
}
.header__tel-href{
    font-size: 18px;
    line-height: 34px;
    font-family: $roboto;
    font-weight: 400;
    color: $red;
    font-weight: bold;
    position: relative;
    &:hover,
    &:focus{
        color:$white;
    }
    &:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../imgs/icon-call.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: -40px;
        animation: pulse .5s ease infinite;
    }
}