.header{
    position: fixed;
    width: 100%;
    z-index: 3;
    @media screen and (max-width:$tablet){
    }
}
.header--fixed{
    background-color: $black;
    -webkit-box-shadow: 0px 14px 17px -9px rgba(154,23,10,1);
    -moz-box-shadow: 0px 14px 17px -9px rgba(154,23,10,1);
    box-shadow: 0px 14px 17px -9px rgba(154,23,10,1);
}
.header--fixed-tab{
    background-color: $black;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    @media screen and (max-width:$tablet){
        min-height: 60px;
    }
}
.header__logo{
    position: relative;
    width: 120px;
    height: 80px;
    &:after{
        content: "";
        width: 120px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../imgs/red_triangl.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        z-index: 0;
        @media screen and (max-width:$tablet){
            z-index: 2;
            width: 100px;
            height: 80px;
        }
        @media screen and (max-width:$mobile){
            width: 80px;
        }
    }
    @media screen and (max-width:$tablet){
        height: 60px;
    }
    @media screen and (max-width:$mobile){
        height: 60px;
    }
}
.header__logo-span{
    position: relative;
    z-index: 1;
    display:block;
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top: 10px;
    @media screen and (max-width:$tablet){
        z-index: 3;
        width: 100px;
    }
    @media screen and (max-width:$mobile){
        width: 80px;
    }
}
.header__navigation{
    @media screen and (max-width:$tablet){
        position: absolute;
        top:60px;
        left:-90%;
        width: 75%;
        border-right: 1px solid $red;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(154,23,10,.7);
        -moz-box-shadow: 5px 5px 5px 0px rgba(154,23,10,.7);
        box-shadow: 5px 5px 5px 0px rgba(154,23,10,.7);
    }
    @media screen and (max-width:$mobile){
        border-right: 1px solid $red;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(154,23,10,.7);
        -moz-box-shadow: 5px 5px 5px 0px rgba(154,23,10,.7);
        box-shadow: 5px 5px 5px 0px rgba(154,23,10,.7);
    }
}
.header__navigation-list{
    @include list-reset;
    display: flex;
    align-items: center;
    @media screen and (max-width:$tablet){
        flex-direction: column;
        display: flex;
    }
}
.header__navigation-list--on{
    animation: menu-on .3s ease;
    left: 0;
}
.header__navigation-list--off{
    animation: menu-off .3s ease;
    left: -90%;
}
.header__list-item{
    padding: 0 15px;
    border-bottom:1px solid transparent;
    &:hover{
        border-bottom:1px solid $red;
    }
    @media screen and (max-width:$tablet){
        text-align: center;
        padding: 20px 0;
        width: 100%;
        background-color: $black;
        border-bottom: 1px solid $red;
        &:active{
            border-bottom: 1px solid $white;
        }
    }
}
.header__list-link{
    font-size: 18px;
    line-height: 34px;
    font-family: $roboto;
    font-weight: 400;
    &:hover,
    &:focus{
        color: $red;
    }
    &:active{
        color: $red;
        opacity: 0.6;
    }
}
.header__tel-href{
    font-size: 18px;
    line-height: 34px;
    font-family: $roboto;
    font-weight: 400;
    color: $red;
    font-weight: bold;
    position: relative;
    &:hover,
    &:focus{
        color:$white;
    }
    &:after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../imgs/icon-call.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: -40px;
        animation: pulse 1.5s ease infinite;
        @media screen and (max-width:$tablet){
            width: 20px;
            height: 20px;
            top: 5px;
            left: -30px;
            animation: none;
        }
    }

    @media screen and (max-width:$tablet){
        font-size: 16px;
    }
}
.header__mobile-btn{
    display: none;
    @media screen and (max-width:$tablet){
        outline-color: $red;
        border:none;
        display: block;
        width: 50px;
        height: 50px;
        background-color:transparent;
        background-image: url("../imgs/icon-menu.png");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
    }
    &:active{
        opacity: 0.6;
    }
}
.header__mobile-btn--close{
    @media screen and (max-width:$tablet){
        background-image: url("../imgs/icon-close.png");
    }
}