.mini-title{
    font-family: $roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    line-break: 50px;
    position: relative;
    &:after{
        content: "";
        height: 6px;
        width: 130px;
        background-color: red;
        position: absolute;
        bottom: -10px;
        left: 0;
        opacity: 0.7;
    }
    @media screen and (max-width:$mobile){
        font-size: 30px;
    }
}