.product-preview{
    min-height: 820px;
    background: url("../imgs/product-preview_title-fire.png") no-repeat 50% 0px,
                url("../imgs/product-preview_bg1.png") no-repeat 0 120px,
                url("../imgs/product-preview_bg2.png") no-repeat 100% 120px;
    position: relative;
    z-index: 1;
    &:after{
        content: "";
        display: block;
        height: 971px;
        width: 185px;
        background: url("../imgs/product-preview_big-fire.png") no-repeat 0 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
.product-preview__wrapper{
    min-height: 820px;
    box-sizing: border-box;
    padding-top: 115px;
    padding-bottom: 100px;
}
.product-preview__title{
    @include center-title;
}
.product-preview__list{
    @include list-reset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    min-height: 505px;
    position: relative;
    &:after{
        content: "";
        display: block;
        height: 500px;
        width: 2px;
        background-color: $white;
        position: absolute;
        right: 50%;
        top: 0;
        transform: rotate(15deg);
        opacity: 0.7;
    }
}
.product-preview__list-item{
    box-sizing: border-box;
    width: 48%;
    padding: 0 66px;
}
.product-preview__spectrum-title{
    @include name-product;
}