.spectrum-catalog{
    min-height: 1200px;
    background: url("../imgs/product-preview_title-fire.png") no-repeat 50% 0px,
                url("../imgs/spectrum-catalog_left-fire.png") no-repeat 0px 0px;
    position: relative;
    &::after{
        content: "";
        width: 160px;
        height: 970px;
        background: url("../imgs/about_us_big-fire.png") no-repeat 50%;
        position: absolute;
        right: 0;
        bottom: -480px;
    }
}
.spectrum-catalog__wrapper{
    min-height: 1200px;
    box-sizing: border-box;
    padding-top: 70px;
}
.spectrum-catalog__title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    &:after{
        content: "";
        display: block;
        width: 130px;
        height: 6px;
        background: $white;
        position: absolute;
        bottom:-15px;
        left:50%;
        transform: translateX(-50%);
    }
}
.spectrum-catalog__red-span{
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    text-transform: capitalize;
}