.start-screen{
    min-height: 1000px;
    background-image: url("../imgs/start-screen_bg.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    @media screen and (max-width:$tablet){
        min-height: 700px;
    }
    @media screen and (max-width:$mobile){
        min-height: 600px;
    }
}
.start-screen__paralax-wrapper{
    background-image: url("../imgs/start_screen_fire1.png");
    background-size: 212px 766px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    min-height: 1000px;
    box-sizing: border-box;
    padding-top: 150px;
    @media screen and (max-width:$tablet){
        background-size: 106px 383px;
        min-height: 700px;
    }
}
.start-screen__title-wrapper{
    width: 560px;
    font-weight: 900;
    text-transform: uppercase;
    @media screen and (max-width:$tablet){
        width: 440px;
    }
    @media screen and (max-width:$mobile){
        width: 100%;
    }
}
.start-screen__title{
    color: #fff;
    font-family: $roboto;
    font-size: 72px;
    line-height: 72px;
    font-weight: inherit;
    @media screen and (max-width:$tablet){
        font-size: 55px;
        line-height: 55px;
    }
    @media screen and (max-width:$mobile){
        font-size: 40px;
    }
}
.start-screen__UTP{
    font-size: 28px;
    margin-bottom: 40px;
}
.start-screen__UTP-span{
    font-size: 36px;
}
.start-screen__title-red-element{
    display: inline-block;
    font-size: 36px;
    line-height: 30px;
    @media screen and (max-width:$mobile){
        font-size: 28px;
    }
}
.start-screen__umper{
    font-size: 60px;
    line-height: 50px;
    @media screen and (max-width:$tablet){
        font-size: 55px;
        line-height: 55px;
    }
    @media screen and (max-width:$mobile){
        font-size: 28px;
    }
}
.start-screen__btn-wrapper{
    @media screen and (max-width:$tablet){
        height: 180px;
        flex-direction: column;
        align-items: flex-start
    }
}