.up-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
    -moz-box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
    box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
    animation: shadow 1s ease-in infinite;
    
    @media screen and (max-width:$tablet){
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
        -moz-box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
        box-shadow: 0px 0px 26px 9px rgba(13,14,17,1);
        animation: shadow 1s ease-in infinite;
    }
}
.up-btn__link{
    cursor: pointer;
    display: block;
    width: 80px;
    height: 80px;
    background-color: $black;
    background-image: url("../imgs/icon-up.png");
    background-size: 40px 45px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    @media screen and (max-width:$tablet){
        display: block;
        width: 60px;
        height: 60px;
        background-size: 30px 35px;
    }
}
.up-btn--on{
    display: block;
    animation: fadeIn .5s ease;
}